
/* Texto de título de sección Sobre mí */
.text-blue {
    color: rgb(242, 190, 160) !important;
}

/* Cubo */
div.espacio3D {
    width: 300px;
    height: 300px;
    margin: -65px auto 0 auto;
    perspective-origin: center -50%;
    perspective: 500px;
    transform: scale(0.5);
}
  
div.cubo3D {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-150px);
    animation-name: gira;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
}
  
div.base {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(0,0,0,0.15);
    transform: translateX(75px) translateY(75px) rotateX(90deg) translateZ(-200px);
    box-shadow: 0 0 50px 100px rgba(0,0,0,0.15);
}

aside.cara {
    position: absolute;
    width: 298px;
    height: 298px;
    background-color: rgba(110, 108, 216, 0.986);
    border: 1px solid #0062ff;
    color: rgb(49, 49, 49);
    font-size: 2em;
    text-align: center;
    line-height: 298px;
    box-shadow: 0px 0px 5px rgba(86, 48, 251, 0.75);
}
  
aside.cara1 { /* Frente */
    transform: translateZ(150px);
}
  
aside.cara2 { /* Atrás */
    transform: rotateY(180deg) translateZ(150px);
}
  
aside.cara3 { /* Izquierda */
    transform: rotateY(-90deg) translateZ(150px);
}
  
aside.cara4 { /* derecha */
    transform: rotateY(90deg) translateZ(150px);
}
  
aside.cara5 { /* abajo */
    transform: rotateX(-90deg) translateZ(150px);
}
  
aside.cara6 { /* arriba */
    transform: rotateX(90deg) translateZ(150px);
}
  
@keyframes gira {
    0% {
      transform: translateZ(-150px) rotateY(0deg);
    }
    100% {
      transform: translateZ(-150px) rotateY(360deg);
    }
}


/* Sección Skills */

#titleSkills {
    margin-bottom: 55px;
    margin-top: 0px;
    color: rgb(242, 190, 160) !important;
}


/* Carrusel de divs */

.img-skill-1 {
    display: flex;
    max-width: 122px;
    height: 157px;
}
  

.img-skill-2 {
    display: flex;
    max-width: 122px;
    height: 157px;
    border-radius: 7px;
}

.img-skill-3 {
    display: flex;
    max-width: 130px;
    height: 125px;
    border-radius: 7px;
}

.divSkill {
  background-color: rgb(151, 151, 151);
  width: 170px;
  height: 230px;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid rgba(255, 255, 255, 0.5);
  animation: mymove 5s infinite;
  margin: auto;
}

@keyframes mymove {
    50% {
        border-style: solid;
        border-color: rgba(85, 85, 85, 0.774);
    }
}


/* Title Projects */

.titleProjects {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    color: rgb(81, 109, 115);
}

/* --- Div Gallery Item --- */

.gallery-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

.img-fluid1 {
    width: 100%;
    height: 450px;
}

.sectionButtons {
    width: 100%;
    height: 450px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .3s;
    transform: scale(1.5);
    opacity: 0;
    background: transparent;
    cursor: pointer;
}

.gallery-item::before ::after {
    content: "";
    position: absolute;
    /* width: calc(100% - 30px); */
    /* background: red; */
    transition: all .3s;
}

.buttonDemo, .buttonRepo {
    background-color: rgba(89, 81, 140, 0.822);
    color: white;
    margin: 10px;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    border:0;
    /* border: 1px solid rgb(146, 215, 255); */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

 
.gallery-item:hover .sectionButtons {
    transform: scale(2);
    opacity: 1;
    width: 100%;
    height: 460px;
    background: rgb(81, 109, 115);
}

.img-fluid2 {
    width: 100%;
    height: auto;
}


/* */
.div-gg{
    background: #D98471;
}

.container-project {
    background: rgb(242, 120, 75);
}

.textProject {
    color: rgb(242, 120, 75);
}

.textInfo {
    color: rgb(81, 109, 115);
}